<template name="layout">
  <div class="container">
    <header class="navbar">
      <div class="navbar-inner">
          <div class="brand">Support&nbsp;<span class="fa fa-thumbs-o-up fa-lg"></span></div>

          <div class="brand">Organize&nbsp;<span class="fa fa-lightbulb-o fa-lg"></span></div>

          <div class="brand">Campaign&nbsp;<span class="fa fa-bullhorn fa-lg"></span></div>
      </div>
    </header>
    <div id="main" class="row-fluid">
      {{> yield }}
    </div>
  </div></template>
